.theme-container {

  .page {
    padding-left: 18rem;
    padding-right: 360px;
  }

  .navbar {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px #f0f1f2;
    padding: 0 1.5rem;

    .home-link {
      display: inline-flex;
      align-items: center;
    }

    .site-name {
      display:none;
      color: $accentColor;
      font-weight: 300;
      font-size: 24px;
    }

    .nav-item > .nav-link {
      border-bottom: none !important;

      &::after {
        content: '';
        position: absolute;
        bottom: -12px;
        left: -2px;
        right: -2px;
        height: 2px;
        background-color: transparent;
        border-radius: 1px;
        transition: background-color 0.1s;
      }

      &:hover, &.router-link-active {
        &::after {
          background-color: $accentColor;
        }
      }
    }
  }

  .dropdown-wrapper .nav-dropdown .dropdown-item a {
    padding: 0.4rem 1.5rem 0.4rem 1.25rem;
  }

  .home {
    max-width: unset;

    .hero {
      img {
        max-height: 160px;
      }

      .description {
        max-width: 45rem;
      }
    }
  }

  .sidebar {
    width: 18rem;
    > .sidebar-links {
      > li:not(:first-child) {
        margin-top: 0;
        border-top: 1px solid $borderColor;
      }
    }

    .sidebar-link {
      border-left: none;

      &.active {
        border-right-color: $accentColor;
        background-color: $sidebarBgColor;
      }
    }

    .sidebar-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-left: none;

      .arrow {
        top: 0;
        left: 0;
      }
    }

    .sidebar-heading, .sidebar-link {
      &:hover {
        background-color: #e9e9fc;
        transition: all 0.1s ease;
      }
    }

    .sidebar-sub-headers {
      padding-left: 1.3rem;
    }

    .sidebar-sub-header {
      &::before {
        content: '•';
        position: absolute;
        left: 2.5rem;
      }

      &:hover {
        &::before {
          color: $accentColor;
        }
      }

      .sidebar-link {
        padding-left: 2.5rem;
        border-right: none;
        background-color: transparent;
      }
    }
  }

  .sidebar-group {
    position: relative;
  }

  .depth-1 {
    .sidebar-group-items:before {
      display: block;
      position: absolute;
      left: 1rem;
      width: 2px;
      top: 1%;
      height: 98%;
      background: #cfc9f5;
      content:'';
      z-index: 999;
    }
  }

  .depth-2 {
    .sidebar-group-items:before {
      background: #b9b0f0;
    }
  }


  .img-title {
    display: block;
    color: #666;
    text-align: center;
  }

  .theme-default-content:not(.custom) {
    text-align: justify;
    width: calc(100% - 5rem);
    max-width: 920px;
    margin: unset;

    img {
      max-width: 70%;
      margin-left: 15%;
    }
  }

  div[class*=language-] {
    background-color: #444b58;

    .highlight-lines .highlighted {
      background-color: rgba(0, 0, 0, 0.3);
    }

    code {
      color: #ececec;
    }
  }

  div[class*='language-'] pre, div[class*='language-'] pre[class*='language-'] {
    position: unset;
  }

  .code-copy {
    height: 0;

    svg {
      right: 40px;
      width: 20px;
    }

    span {
      right: 65px;
      top: 11px !important;
    }
  }

}

@media screen and (min-width: 2000px) {
  .theme-container .theme-default-content:not(.custom) {
    margin: 0 auto;
  }

  .global-ui .side-anchor {
    left: calc(50% + 520px);
  }
}

@media screen and (min-width: 1700px) and (max-width: 2000px) {
  .global-ui .side-anchor {
    left: calc(300px + 5rem + 920px);
  }
}

@media screen and (max-width: 1200px) {
  .theme-container {
    .page {
      padding-right: 2.5rem;
    }

    .theme-default-content:not(.custom) {
      width: calc(100% - 2.5rem);
    }
  }

  .global-ui .side-anchor {
    display: none;
  }
}
